<div class="footer">
   <footer>
      <div class="container">
         <div class="footer-body">
            <div class="footer-twitter-block">
               <div class="footer-twitter">
                  <a class="twitter-timeline" data-width="450" data-height="295"
                     href="https://twitter.com/saltgroup?ref_src=twsrc%5Etfw">Tweets by saltgroup</a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
               </div>
            </div>
            <div class="footer-links-block">
               <div class="footer-column">
                  <div class="footer-navigation">
                     <div class="footer-nav__title footer-column-title">navigation</div>
                     <ul class="footer-nav">
                        <li><a href="#">home</a></li>
                        <li><a href="#">products</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">resources</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">contact us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-column">
                  <div class="footer-links">
                     <div class="footer-links__title footer-column-title">links</div>
                     <ul class="footer-link">
                        <li><a href="#">disclaimer</a></li>
                        <li><a href="#">legal</a></li>
                        <li><a href="#">environment policy</a></li>
                        <li><a href="#">privacy</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-column">
                  <div class="footer-contacts">
                     <div class="footer-contact__title footer-column-title">contact sales</div>
                     <ul class="footer-contact">
                        <li><a href="#">phone: +61 3 9614 4416</a></li>
                        <li><a href="#">email: <span class="email">sales@saltgroup.com.au</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer-copyright">
         <div class="footer-copyright__text">© 2017 SALT GROUP <span class="decor-icon"></span> ALL RIGHTS RESERVED.
            WEBSITE BY DORNE CREATIVE.</div>
      </div>
      <img src="./img/Footer/footer-logo.png" alt="footer-logo" class="footer-logo">
   </footer>
</div>